<div class="row">
  <div class="span6" id="main-text">
    <br>
    <br>
    <h1>SLICK &amp; SMART</h1>
    <h3>Imperfection is beauty, madness is genius and ...</h3>
    <p>We specialize in great service, exceptional design and engaging interactive experiences for humans.</p>

    <div class="btn-group" style="margin-bottom: 10px;">
      <a class="btn btn-majoo btn-large" href="#">Buy Now</a> <a class="btn btn-cta btn-large" href="#">or View Demo</a>
    </div>
  </div>
  <div class="span6 ">
    <img src="img/slides/draw.png" alt="image">
  </div>
</div>
